body {
  font-family: Arial;
  margin: 0;
  background: #f2f2f2;
}

/* Header */
header {
  background: #e91e63;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

header a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

/* Age Gate */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.box {
  background: white;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
}

/* Main */
main {
  max-width: 600px;
  margin: auto;
  padding: 15px;
}

.post-box textarea {
  width: 100%;
  height: 70px;
}

.post-box button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #673ab7;
  color: white;
  border: none;
}

/* Posts */
.post {
  background: white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

/* Auth */
.auth-box, .profile {
  max-width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
